# Preparation
请在下面导入numpy(用np代替)，以及pandas（用pd代替）

In [3]:

np.random.seed(42)
#指定seed以生成固定的随机数

# 

##  生成一个 $5 \times 3 \times 2$ 的ndarray, 每个element为不同数字

##  把它变成一个shape 为[1,5,3,2]的ndarray; 不改变其中每个element的数值

# 
## 创建一个10*10的ndarray对象，element为随机数字，并打印出最大最小的element

##  对矩阵的每一行的element都减去该行的平均值

# 
## 创建一个shape 为[2,3,3,3]的4d-array, element为随机数字

## 对其最后的两个维度求和，生成一个新nd-array

# Pandas Basics

## 用pandas导入 Data Science Handbook notebooks/data/中的 state-population.csv 文件，把它命名为df

## 展示df的shape，它有哪些column，每个column的data type是什么？

## 展示第2301行（注意index是从0开始的）

state/region             WA
ages                under18
year                   2011
population      1.58471e+06
Name: 2300, dtype: object

##  找到2002年伊利诺伊(code: IL)的总人口

    state/region   ages  year  population
646           IL  total  2002  12525556.0

## 使用groupby等方法，计算2008年以及以后每个州18岁以下人口的平均值，输出前五个人口最多的（不包括USA，可以使用 df.sort_values()等函数 ）。

                year    population
state/region
USA           2010.5  7.392577e+07
CA            2010.5  9.256073e+06
TX            2010.5  6.884565e+06
NY            2010.5  4.305392e+06
FL            2010.5  4.009472e+06
IL            2010.5  3.097347e+06

## 找到每年总人口的maximum，minimum，以及median (用aggreagate)

     population
           amin     median         amax
year
1990   453690.0  3404386.5  249622814.0
1991   459260.0  3478761.5  252980942.0
1992   466251.0  3558201.5  256514231.0
1993   473081.0  3638524.0  259918595.0
1994   480283.0  3714782.5  263125826.0
1995   485160.0  3787617.5  266278403.0
1996   488167.0  3857868.0  269394291.0
1997   489452.0  3906221.5  272646932.0
1998   490787.0  3952313.0  275854116.0
1999   491780.0  3996367.5  279040181.0
2000   494300.0  4024223.0  282162411.0
2001   494657.0  4064995.0  284968955.0
2002   500017.0  4089875.0  287625193.0
2003   503453.0  4117170.0  290107933.0
2004   509106.0  4146101.0  292805298.0
2005   514157.0  4182742.0  295516599.0
2006   522667.0  4219239.0  298379912.0
2007   534876.0  4256672.0  301231207.0
2008   546043.0  4289878.0  304093966.0
2009   559851.0  4317074.0  306771529.0
2010   564222.0  4347698.0  309326295.0
2011   567329.0  4366869.0  311582564.0
2012   576626.0  4379730.0  313873685.0
2013   582658.0  4395295.0  316128839.0

## 把df state/region  下的 IL 改成 Illinois (可以自己define一个function，也可以查询Python lambda function的使用)

## Do a brief but meaningful analysis to the US population data with the tools you learned. Remember to briefly explain it with comments.